<%- include("../partials/header") %> 
<section>
    <div>Airline:</div>
    <div><%= flight.airline %> </div> 
    <div>Airport:</div>
    <div><%= flight.airport %> </div>
    <div>flightNo:</div>
    <div><%= flight.flightNo %> </div>
    <div>departs:</div>
    <div><%= flight.departs %> </div>
</section>
<%- include("../partials/footer") %> 